html{
  font-family: sans-serif;
}

header{
  background-image: linear-gradient(#d0e457, #e6dd10);
  display: block;
  border: 2px solid black;
  border-top: 4px solid pink;
  border-bottom: 4px solid pink;
  width: 1275px;
  height: 100px;
  }
.logo1{
  z-index: 2;
  width: 370px;
  height: 110px;
  float: left;
  margin-top: 1px;
}
.inline li{
  display: inline;
  float: right;
  position: right;
  margin-right: 40px;
  text-transform: capitalize;
}
.clear{
  clear: both;
}
.list{
    float: top, center; /* Le menu flottera à gauche */
    width: 156x100px; /* Très important : donner une taille au menu */
}
h1{
  text-align: center;
}
#lilas{
  position: absolute;
  background-attachment: fixed;
  z-index: 1;
  background-image: url("../img/flower4.jpg");
  width: 1275px;
  height: 800px;
  margin-top: 10Px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 4px solid pink;
  border-bottom: 4px solid pink;
}

#bloc1{ /*bloc avec description au dessus de l'image*/
  z-index: 3;
  top:335px;
  left:45px;
  background-position: center;
  position: relative;
  height: 420px;
  width: 650px;
  background-color: rgb(135, 183, 218);
  opacity: 0.7;
  border: pink solid 4px;
  padding-right: 20px;
  padding-left: 20px;
}
@font-face {
  font-family: bkobiii, sans-serif;
  src: url("/font/bkobiii.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.texte{
  text-align: justify;
  text-align-last: left;
}
a.buttonhaut{
		background:white;
		display:block;
		color:#555555;
		font-weight:bold;
		height:30px;
		line-height:29px;
		margin-bottom:14px;
		text-decoration:none;
    text-align: center;
		width:191px;

}
a:hover.buttonhaut{
		color:#0066CC;
								}
.bouton1{
  background-size: contain;
  position: relative;
  left: 30px;
}

/*séparation du bloc header et du bloc production*/

/*section de présentation des produits*/
/*section des produits*/
#bloc2{
  position: relative;
  z-index: 3;
  top:400px;
  height: 440px;
  width: 1275px;
  border-color: white;
  border-top: pink solid 4px;
  border-bottom: pink solid 4px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-image: linear-gradient(#d0e457, #e6dd10);


}
.titres2{
  text-align: right;
  font-size: small;
  font-size: 15px;
  font-style: oblique;
  font-family: cursive;
  color: white;
  margin-right: 35px;
  padding-top: 10px;
  padding-right: 10px;
}
.cadrephoto{
  z-index: 4;
  background-size: cover;
  background-color: #9370DB;
  padding: 4px 4px 4px 4px;
  float: left;
  width: 250px;
  height: 270px;
  box-shadow: 6px 6px 6px black ;
  margin-left: 35px;
  margin-right: 20px;
  margin-top: 30px;
}
.prix{
 text-align: right;
 padding-right: 20px;
 padding-top: 5px;
}
.photo{
  margin-left: 25px;
  margin-top: 10px;
  height: 200px;
  width: 200px;
}
.tphoto{
  text-transform: capitalize;
  color: white;
  padding-left: 20px;
}
.tleft{
  float: left;
}
.pright{
  float: right;
}
.clear{
  clear: both;
}
.blocprix{
  border: 1px solid black;
  padding: 3px;
  background: white;
}


/*fin de la section de prsentation produit*/
/*debut de la section explication boutique*/

#bloc3{
  z-index: 1;
  bottom: 580px;
  left: 520px;
  background-position: center;
  position: relative;
  height: 500px;
  width: 670px;
  background-color: rgb(135, 183, 218);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border: pink solid 4px;
  float: left;
  opacity: 0.2;
}
.clear{
  clear: both;
}
.boutique{/*fond de l'image de présentation de site*/
  background-image: url(../img/garden.jpg);
  height: 900px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 3px solid pink;
  border-bottom: 3px solid pink;
  width: 1275px;
  margin-top: 410px;
  filter: blur(2px);
}
.bloc3{
  text-align: justify;
  text-align-last: right;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: relative;
  bottom: 1090px;
  height: 5px;
  width: 670px;
  left: 525px;
  z-index: 2;
  color: white;

}
.fontnew{
  font-family: bkobiii, cursive, white;
  font-size: 25px;
}
/*element qui composent les boutons icone liens vers reseaux sociaux et le mail*/
.social{
  background-color: rgba(0,0,0,0,2);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  left:  230px;
  top: 60px;
  }
.social img{
  width: 30px;
  height: 30px;
  z-index: 2;
  /*border-radius: 50%;*/
  }
.conteneur{
  display: flex;
  justify-content: center;
  align-items: center;
  top:100px;
}
.fond_twi, .fond_face, .fond_insta, .fond_mail{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  top: -40px;
  transition: 0,5s;
}
.social:hover, .fond_twi, .fond_face, .fond_insta, .fond_mail{
  width: 50px;
}
.fond_twi{
  background-color: rgba(9, 92, 254, 0.69);
  }
.fond_face{
  background-color: rgb(63, 11, 193);
}
.fond_insta{
  background-color: rgb(237, 203, 204);
}
.fond_mail{
  background-color: rgb(237, 231, 200);
}
/*fin des icones reseaux sociaux*/


/*debut du formulaire de contact*/

  /*formulaire d'envoye*/
.formulaire{
    border: 2px solid lightgreen;
    background-color:rgb(109, 66, 210);
    height: 460px;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    opacity: 0.9;
}
#nom, #courriel{
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}
#message{
    font-size: 1em;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}
#envoyer{
    float: right;
    margin: 0px 0px 0px 40px;
}
.clear{
  clear: both;
}
.interform{
  height: 450px;
  width: 250px;
  margin: 1px auto;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  position: absolute;
  top: 15px;
  left: 75px;
}
body{
  overflow-x: hidden;

}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  background-image: linear-gradient(#d0e457, #e6dd10);

}
.micone img{
  height: 40px;
  width: 40px;
  position: relative;
}
